.header {
    color: #fff;
    margin-bottom: 2rem;
}

.edit-button {
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}

.edit-name {
    margin-bottom: 30px;
}

.input-name {
    padding: 5px;
    margin: 10px;
}

.input-name::placeholder {
    opacity: 0.5;
}

.name-button{
    width: 90px;
    margin: 10px;
}

.hidden {
    display: none;
}
